<ion-view title="At The Gig" id="page4" style="background-color:#EFEFF4;" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="atTheGig-list9" class=" manual-list-fullwidth ">
            <ion-item class="item-avatar item-icon-right  " id="atTheGig-list-item13" ui-sref="tabsController.profile">
                <img src="img/iI0ParASheoWIp4ydr4e_profile_sample.jpg">
                <h2>Dan Abrahamsen</h2>
                <p>dan.abrahamsen@email.com</p>
                <i class="icon ion-android-more-vertical"></i>
            </ion-item>
            <ion-item class="item-divider " id="atTheGig-list-item-divider7"></ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="atTheGig-list-item32" ui-sref="tabsController.orderHistory">
                <i class="icon ion-android-time"></i>Order History
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="atTheGig-list-item23" ui-sref="tabsController.shippingAddress">
                <i class="icon ion-ios-location"></i>Shipping Address
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="atTheGig-list-item26" ui-sref="tabsController.paymentInfo">
                <i class="icon ion-card"></i>Payment Info
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="atTheGig-list-item22" ui-sref="tabsController.contactUs">
                <i class="icon ion-help-circled"></i>Contact Us
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="atTheGig-list-item27" ui-sref="tabsController.settings">
                <i class="icon ion-android-settings"></i>Settings
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>