<ion-view title="Auction" id="page10" style="background-color:#EFEFF4;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/X2v3ODyuSGfKmyPWMcdG_bid_guitar.jpeg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="item item-body " id="auction-list-item-container7">
            <p id="auction-markdown10" style="margin-top:0px;color:#000000;" class=" ">Bidding on a guitar signed by the band. Guitar will be available after the show. You will be contacted via text message if you are the winner. All proceeds go to charity.</p>
        </div>
        <form id="auction-form8" class="list ">
            <ion-item id="auction-list-item29" class="  ">Current Bid: $678 (Ends at 11pm)</ion-item>
            <ion-item class="balanced  " id="auction-list-item31">You are the current high bidder!</ion-item>
            <label class="item item-input " id="auction-input11">
                <span class="input-label">Enter Bid Amount:</span>
                <input type="tel" placeholder="$763+">
            </label>
            <button id="auction-button8" class=" button button-positive button-large button-block ">PLACE BID NOW</button>
        </form>
    </ion-content>
</ion-view>