<ion-view title="Cart" id="page11" style="background-color:#EFEFF4;" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="cart-list8" class=" manual-list-fullwidth ">
            <ion-item class="item-thumbnail-left  " id="cart-list-item12" ui-sref="tabsController.itemDetails">
                <img src="img/XpLkn35rTOpz7ySSz9N3_shop_shirt_metallica_white.jpeg">
                <h2>DAMAGE INC.</h2>
                <p style="white-space:normal;">Size: Medium
                    <br>Qty: 3
                    <br>$19.99 each</p>
            </ion-item>
            <ion-item class="item-divider " id="cart-list-item-divider8">Options</ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="cart-list-item28" ui-sref="tabsController.shippingAddress">
                <i class="icon ion-ios-location"></i>199 Water St #123, New York, NY 10038
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="cart-list-item30" ui-sref="tabsController.paymentInfo">
                <i class="icon ion-card"></i>Discover, ****2847, 06-2017
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-divider " id="cart-list-item-divider15">Cost</ion-item>
            <div class="item item-body " id="cart-list-item-container4">
                <div>
                    <div>
                        <div style="float:left;">
                            Subtotal (3 items)
                        </div>
                        <div style="float:right;">$59.97</div>
                    </div>


                    <br>
                    <div>
                        <div style="float:left;">
                            Shipping
                        </div>
                        <div style="float:right;">$10.00</div>
                    </div>


                    <br>
                    <div>
                        <div style="float:left;">
                            Tax
                        </div>
                        <div style="float:right;">$3.61</div>
                    </div>


                    <br>
                    <div style="border-top:1px solid #868686;font-weight:bold;">
                        <div style="float:left;">
                            Grand Total
                        </div>
                        <div style="float:right;">$73.58</div>
                    </div>
                </div>
            </div>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 15px;"></div>
        <a ui-sref="orderConfirmation" id="cart-button9" class=" button button-balanced button-large button-block ">SUBMIT MY ORDER</a>
    </ion-content>
</ion-view>