<ion-view title="Contact Us" id="page20" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="contactUs-form14" class="list ">
            <label class="item item-input " id="contactUs-textarea1">
                <span class="input-label">Message</span><textarea placeholder="Type you message here"></textarea>
            </label>
        </form>
        <button id="contactUs-button11" class=" button button-positive button-large button-block ">SEND MESSAGE</button>
    </ion-content>
</ion-view>