<ion-view title="Item Details" id="page9" style="background-color:#EFEFF4;" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <div class="list card " id="itemDetails-card22">
            <div class=" item item-image">
                <img src="img/V0oLmQYWTPeXyPme3WR0_shop_shirt_metallica_white.jpeg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <form id="itemDetails-form10" class="list ">
                <form id="itemDetails-form13" class="list ">
                    <ion-item class="item-divider " id="itemDetails-list-item-divider9">$19.99 each</ion-item>
                    <label class="item item-select " id="itemDetails-select2">
                        <span class="input-label">Small</span>
                        <select>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </label>
                    <label class="item item-select " id="itemDetails-select3">
                        <span class="input-label">Medium</span>
                        <select>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </label>
                    <label class="item item-select " id="itemDetails-select4">
                        <span class="input-label">Large</span>
                        <select>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </label>
                </form>
            </form>
        </div>
        <a ui-sref="tabsController.cart" id="itemDetails-button22" class=" button button-positive button-large button-block ">ADD TO CART</a>
    </ion-content>
</ion-view>