<ion-view title="Order Confirmation" id="page13" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 45px;"></div>
        <h1 id="orderConfirmation-heading1" style="color:#000000;text-align:center;" class=" ">Thank you!</h1>
        <div class="spacer" style="width: 300px; height: 26px;"></div>
        <h2 id="orderConfirmation-heading2" style="color:#000000;text-align:center;" class=" ">Your Order #</h2>
        <h2 id="orderConfirmation-heading3" style="color:#000000;text-align:center;" class=" ">523977</h2>
        <div class="spacer" style="width: 300px; height: 35px;"></div>
        <a ui-sref="tabsController.atTheGig_tab3" id="orderConfirmation-button12" class=" button button-positive button-large button-block ">DONE</a>
    </ion-content>
</ion-view>