<ion-view title="Order History" id="page2" style="background-color:#EFEFF4;" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <ion-list id="orderHistory-list2" class=" manual-list-fullwidth ">
            <ion-item class="item-divider " id="orderHistory-list-item-divider5">July 21, 2016</ion-item>
            <ion-item class="item-thumbnail-left item-icon-right  " id="orderHistory-list-item4" ui-sref="tabsController.orderHistoryDetail">
                <img src="img/hXfecbpfSiaRyCWjAvxc_shop_shirt_metallica_black.jpeg">
                <h2>Order: #3269857</h2>
                <p style="white-space:normal;">$19.99
                    <br>Items: 1
                    <br>Shipped</p>
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right  " id="orderHistory-list-item17" ui-sref="tabsController.orderHistoryDetail">
                <img src="img/wQvzcqTKR56rSZaS2cQQ_shop_shirt_metallica_white.jpeg">
                <h2>Order: #6987453</h2>
                <p style="white-space:normal;">$59.97
                    <br>Items: 3
                    <br>Delivered</p>
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-divider " id="orderHistory-list-item-divider6">June 8, 2016</ion-item>
            <ion-item class="item-thumbnail-left item-icon-right  " id="orderHistory-list-item20" ui-sref="tabsController.orderHistoryDetail">
                <img src="img/XqGZ64ASS6oNHomzOGLM_event_rihanna.jpg">
                <h2>Order: #2658741</h2>
                <p style="white-space:normal;">$39.99
                    <br>Items: 1
                    <br>Delivered</p>
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>