<ion-view title="Payment Info" id="page12" style="background-color:#EFEFF4;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="paymentInfo-form9" class="list ">
            <label class="item item-input " id="paymentInfo-input13" name="number">
                <input type="tel" placeholder="Credit Card Number">
            </label>
            <label class="item item-select " id="paymentInfo-select5" name="exp_month">
                <span class="input-label">Month</span>
                <select>
                    <option></option>
                    <option>January</option>
                    <option>February</option>
                </select>
            </label>
            <label class="item item-input " id="paymentInfo-input16" name="exp_year">
                <input type="tel" placeholder="Year">
            </label>
            <label class="item item-input " id="paymentInfo-input18" name="name">
                <input type="text" placeholder="Name on Card">
            </label>
            <label class="item item-input " id="paymentInfo-input19" name="bill_zip">
                <input type="tel" placeholder="Billing ZIP Code">
            </label>
            <button id="paymentInfo-button10" class=" button button-positive button-large button-block button-clear icon ion-ios-camera ">&nbsp; &nbsp;Scan your credit card</button>
            <div class="spacer" style="width: 300px; height: 15px;"></div>
            <button id="paymentInfo-button14" class=" button button-positive button-large button-block ">SAVE CARD</button>
        </form>
    </ion-content>
</ion-view>