<ion-view title="Settings" id="page8" style="background-color:#EFEFF4;" class=" ">
    <ion-content padding="false" class="has-header">
        <form id="settings-form4" class="list ">
            <ion-item class="item-divider " id="settings-list-item-divider3">Privacy</ion-item>
            <ion-toggle toggle-class="toggle-positive" id="settings-toggle2" class=" ">Show Purchases in Trends</ion-toggle>
            <ion-item class="item-divider " id="settings-list-item-divider4">Notifications</ion-item>
            <ion-toggle toggle-class="toggle-positive" id="settings-toggle3" class=" ">Near a Venue</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="settings-toggle5" class=" ">Auction Ending Soon</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="settings-toggle4" class=" ">Auction Outbid</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="settings-toggle6" class=" ">Auction Won</ion-toggle>
        </form>
        <a ui-sref="tabsController.changePassword" id="settings-button15" class=" button button-positive  button-block button-clear ">Update Password</a>
        <a ui-sref="splash" id="settings-button5" class=" button button-positive  button-block button-clear ">Log Out</a>
    </ion-content>
</ion-view>