<ion-view title="Shop" id="page3" style="background-color:#EFEFF4;" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <ion-list id="shop-list7" class=" manual-list-fullwidth ">
            <ion-item class="item-thumbnail-left item-icon-right  " id="shop-list-item24" ui-sref="tabsController.itemDetails">
                <img src="img/PtEgvGyRQLO3N6G5DjKU_shop_shirt_metallica_black.jpeg">
                <h2>BAND OF SKELETONS</h2>
                <p style="white-space:normal;">by Metallica
                    <br>$19.99</p>
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right  " id="shop-list-item25" ui-sref="tabsController.itemDetails">
                <img src="img/XpLkn35rTOpz7ySSz9N3_shop_shirt_metallica_white.jpeg">
                <h2>DAMAGE INC.</h2>
                <p style="white-space:normal;">by Metallica
                    <br>$19.99</p>
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>