<ion-view title="Tabs Controller" id="page1" class=" ">
    <ion-tabs class="tabs-stable tabs-icon-top " id="tabsController-tabs1">
        <ion-tab title="Events" icon="ion-android-list" href="#/page1/events" id="tabsController-tab1" class=" ">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Auction" icon="ion-ios-bolt" href="#/page1/auction" id="tabsController-tab6" class=" ">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Shop" icon="ion-search" href="#/page1/shop" id="tabsController-tab9" class=" ">
            <ion-nav-view name="tab9"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Cart" icon="ion-android-cart" href="#/page1/tab7/cart" id="tabsController-tab7" class=" ">
            <ion-nav-view name="tab7"></ion-nav-view>
        </ion-tab>
        <ion-tab title="More" icon="ion-ios-more" href="#/page1/tab3/more" id="tabsController-tab3" class=" ">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>